[Unit]
Description=nodeapp

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --name %p -p %i:5000 horaceheaven/directory-ionic-nodejs:07b67ff46e35cb443cf104b223e8eb81b164e79c
ExecStop=/usr/bin/docker stop %p
ExecStop=/usr/bin/docker rm %p
